In [2]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
import csv
from datetime import datetime, timezone

In [4]:
# List of countries
countries = ['rwanda', 'burundi', 'tanzania', 'kenya', 'uganda']

# Store each country's data
all_data = []

for country in countries:
    url = f'https://disease.sh/v3/covid-19/historical/{country}?lastdays=all'
    response = requests.get(url).json()
    timeline = response['timeline']

# Creation DataFrame for each metric
    df = pd.DataFrame({
        'date': timeline['cases'].keys(),
        'cases': timeline['cases'].values(),
        'deaths': timeline['deaths'].values(),
        'recovered': timeline['recovered'].values()
    })

    df['country'] = country.capitalize()
    df['date'] = pd.to_datetime(df['date'], format='%m/%d/%y')
    df = df[(df['date'].dt.year >= 2021) & (df['date'].dt.year <= 2023)]

    all_data.append(df)

# Combination of all countries DataFrame
combined_df = pd.concat(all_data, ignore_index=True)
# Saving to CSV
combined_df.to_csv("covid_east_africa_2021_2023.csv", index=False)
print(combined_df)

           date   cases  deaths  recovered country
0    2021-01-01    8460      94       6598  Rwanda
1    2021-01-02    8567      98       6685  Rwanda
2    2021-01-03    8676     101       6752  Rwanda
3    2021-01-04    8848     105       6816  Rwanda
4    2021-01-05    8955     110       6878  Rwanda
...         ...     ...     ...        ...     ...
3985 2023-03-05  170504    3630          0  Uganda
3986 2023-03-06  170504    3630          0  Uganda
3987 2023-03-07  170504    3630          0  Uganda
3988 2023-03-08  170544    3630          0  Uganda
3989 2023-03-09  170544    3630          0  Uganda

[3990 rows x 5 columns]

In [10]:
combined_df.describe()

                      date          cases       deaths      recovered
count                 3990    3990.000000  3990.000000    3990.000000
mean   2022-02-03 12:00:00  108523.621554  1826.669173    9195.459649
min    2021-01-01 00:00:00     509.000000     2.000000       0.000000
25%    2021-07-19 00:00:00   33801.500000    38.000000       0.000000
50%    2022-02-03 12:00:00   77679.500000   907.000000       0.000000
75%    2022-08-22 00:00:00  164021.000000  3585.000000     183.000000
max    2023-03-09 00:00:00  342937.000000  5688.000000  191188.000000
std                    NaN  100965.768022  1927.356734   27488.468744